// GLOBAL STYLES ----------------------------------

// COLOR SCHEMES 
$--clr-primary: #791760;
$--clr-secondary: #561A68;
$--clr-light: #ececec;
$-clr-dark: #272343;

// FONT SIZES 
$--size-1: 72px;
$--size-2: 54px;
$--size-3: 32px;
$--size-p1: 22px;
$--size-p2: 16px;

// FONT WEIGHTS 
$--fw-bold: 600;
$--fw-bolder: 900;

// PAGES -------------------------------------------

// Homepage
.main-title {
    padding-top: 200px;
    text-align: center;
    font-size: $--size-1;
    font-family: 'recursive';
    color: $--clr-primary;
    font-weight: $--fw-bolder;
}

.about-us-title {
    text-align: center;
    font-weight: bolder;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: $--size-2;
    color: $-clr-dark
}

.about-us-paragraph {
    text-align: center;
    font-size: 18px;
    color: $-clr-dark;
    font-family: 'cabin';
    font-stretch: ultra-condensed;
    margin-bottom: 75px;
}

.main-subtitle {
    text-align: center;
    font-size: $--size-3;
    font-family: 'open-sans';
    font-size: $--size-3;
    color: $--clr-primary;
    padding-bottom: 200px;
    font-weight: $--fw-bold;
}

.approval-star {
    padding-bottom: 100px;
}

// Contact Page
.contact-form {
    margin-top: 100px;
    margin-bottom: 100px;
}